.carousel-caption {
    text-align:center; 
    margin-top: 15;
    padding: 0%;
}
.navbar {
  background-color: lightgray !important; 
  border-bottom: 1px solid #dcdcdc;
}
  
  .navbar-brand {
    color: black !important;
    font-weight: bold;
  }
  
  .nav-link {
    color: black !important;
    font-weight: bold;
  }
  
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.active {
    color: #b3cfa8; 
  }
  
 
.navbar-button:hover {
  background-color: black;
  color: white;
}
  
  .navbar-button:hover {
    background-color: gray; 
    color: #b3cfa8; 
  }

 
.accordion-button {
    background-color: #84b474 !important; 
    color: black !important; 
    border: none;
    font-weight: bold; 
  }
  
 
  .accordion-button:hover,
  .accordion-button:focus,
  .accordion-button:active {
    background-color: #84b474 !important; 
    color: black !important; 
  }
  
  .accordion-body {
    background-color: white; 
    color: black; 
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


.header-banner {
  background-color: #84b474; 
  color: whitesmoke; 
  padding: 20px 0; 
  font-size: 2rem; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

body {
  background-color: #f8f9fa; /*bg-light  */
  min-height: 100vh;
}

.fixed-image-size {
  width: 100%;
  height: 250px;
  object-fit: contain; 
}

.btn-outline-custom {
  color: #84b474;             
  border: 2px solid #84b474;  
}

.btn-outline-custom:hover {
  background-color: #84b474; 
  color: white;              
}

/* homepage */

.info-image {
  width: 100%;
  max-height: 440px;
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 20px; /* space below the images */
  
}



  
